
<div
  class="relative flex size-full min-h-screen flex-col bg-[#111418] dark group/design-root overflow-x-hidden"
  style="font-family: Inter, 'Noto Sans', sans-serif"
>
  <div class="layout-container flex h-full grow flex-col">
    <header
      class="flex items-center justify-between whitespace-nowrap border-b border-solid border-b-[#293038] px-10 py-3"
    >
      <div class="flex items-center gap-4 text-white">
        <div class="size-4">
            <svg viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M19.35 10.04C18.67 6.59 15.64 4 12 4C9.11 4 6.6 5.64 5.35 8.04C2.34 8.36 0 10.91 0 14A6 6 0 0 0 6 20H19A5 5 0 0 0 24 15C23.24 12.42 21.03 10.17 19.35 10.04Z"/>
              </svg>
        </div>
        <h2
          class="text-white text-lg font-bold leading-tight tracking-[-0.015em]"
        >
          Files
        </h2>
      </div>
      <div class="flex flex-1 justify-end gap-8">
        <button
          class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-10 px-4 bg-[#293038] text-white text-sm font-bold leading-normal tracking-[0.015em]"
        >
          <span class="truncate">Log out</span>
        </button>
        <div
          class="bg-center bg-no-repeat aspect-square bg-cover rounded-full size-10"
          style="
            background-image: url('https://cdn.usegalileo.ai/sdxl10/7b79c9c5-1810-4ce3-9500-7ced82ad3ae2.png');
          "
        ></div>
      </div>
    </header>
    <div class="px-40 flex flex-1 justify-center py-5">
      <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
        <div class="flex flex-wrap justify-between gap-3 p-4">
          
        </div>
        <div class="upload-container">
          <div class="upload-header">
            <div class="upload-title">Upload File</div>
          </div>
          <form id="uploadForm" action="/upload" method="POST" enctype="multipart/form-data">
            <div class="form-group">
              <label for="name">Name</label>
              <input name="name" type="text" id="name" required />
            </div>
            <div class="form-group">
              <label for="file">File</label>
              <input type="file" name="file" id="file" required />
            </div>
            <input type="hidden" name="folderId" value="<%=folderId%>" />
            <input type="submit" class="submit-btn" value="Upload" />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
